<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Passwort Generator</title>
</head>
<body>
    <div align="center">
        <h1>Passwort generator</h1>
        <form action="#" th:action="@{/generate}" method="post" th:object="${params}">
            <label>Amount:</label>
            <input type="number" max="10" th:field="*{amount}" /><br/>
            <label>Length:</label>
            <input type="number" max="25" th:field="*{length}" /><br/>
            <label>Alphabet:</label>
            <input type="text" th:field="*{alphabet}" /><br/>

            <button type="submit">Generate</button>
        </form>
    </div>
</body>
</html>